<div class="auth">
    <!--side rectangles-->
    <div class="blob1">
        <svg height="350" width="450">
            <defs>
                <linearGradient id="myGradient" gradientTransform="rotate(90)">
                    <stop offset="57%" stop-color="#ff8a8a" />
                    <stop offset="95%" stop-color="#ea3c53" />
                </linearGradient>
            </defs>
            <rect id="piece" height="350" width="450" fill="url('#myGradient')" />
        </svg>
    </div>
    <div class="blob2">
        <svg height="250" width="450">
            <defs>
                <linearGradient id="myGradient1" gradientTransform="rotate(90)">
                    <stop offset="5%" stop-color="#ff8a8a" />
                    <stop offset="95%" stop-color="#ea3c53" />
                </linearGradient>
            </defs>
            <rect id="piece" height="250" width="450" fill="url('#myGradient1')" />
        </svg>
    </div>
    <!--side rectangles : ends-->

    <div class="register-form">
        <div class="row h-100">
            <div class="col-md-6 h-100">
                <div class="form-container h-100">
                    <div class="logo d-flex justify-content-between px-5 align-items-center w-100">
                        <img src="assets/image/Logo.png " />
                        <div class="page-title">
                            <h3 class="text-center">Enter Basic Info</h3>
                        </div>
                    </div>
                    <form class="px-5 mt-4" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="" class="form-label">Designation</label>
                            <input autofocus [class.is-invalid]="designation?.invalid && designation?.touched"
                                formControlName="designation" class="form-control" type="text">
                            <div *ngIf="designation?.invalid && designation?.touched">
                                <small *ngIf="designation?.errors?.['required']" class="text-danger size">Designation is
                                    Required</small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Mobile Number</label>
                            <input [class.is-invalid]="phno?.invalid && phno?.touched" formControlName="phno"
                                class="form-control" type="tel">
                            <div *ngIf="phno?.invalid && phno?.touched">
                                <small *ngIf="phno?.errors?.['required']" class="text-danger size">Mobile number is
                                    Required</small>
                                <small class="text-danger size" *ngIf="phno?.errors?.['invalidphno']">Enter a Valid
                                    Mobile number</small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Address</label>
                            <textarea rows="2" cols="43" required
                                [class.is-invalid]="address?.invalid && address?.touched" formControlName="address"
                                class="form-control"></textarea>
                            <div *ngIf="address?.invalid && address?.touched">
                                <small *ngIf="address?.errors?.['required']" class="text-danger size">Address is
                                    Required</small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="">Select Your Exact Location</label>
                            <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                                placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off"
                                spellcheck="off" type="text" #search>
                        </div>
                        <div class="mb-3">
                            <agm-map [latitude]="latitude" [longitude]="longitude" >
                                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                                    (dragEnd)="markerDragEnd($event)"></agm-marker>
                            </agm-map>
                            <input type="hidden" [value]="latitude" name="lat" formControlName="lat">
                            <input type="hidden" [value]="longitude" name="lng" formControlName="lng">                            
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Date of Birth</label>
                            <input type="date" required name="dob" [class.is-invalid]="dob?.invalid && dob?.touched"
                                formControlName="dob" class="form-control">
                            <div *ngIf="dob?.invalid && dob?.touched">
                                <small *ngIf="dob?.errors?.['required']" class="text-danger size">Date of birth is
                                    Required</small>
                            </div>
                        </div>
                        <div class="button">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                    <!-- sign up link -->
                </div>
            </div>
            <div class="col-md-6 banner-container">
                <img src="assets/image/sideimg.jpg" width="100%" alt="loginimage" />
            </div>
        </div>
    </div>

</div>