<div id="body">
    <!--side rectangles-->
    <div class="blob1">
        <svg height="350" width="450">
            <defs>
         <linearGradient id="myGradient" gradientTransform="rotate(90)">
            <stop offset="57%"  stop-color="#ff8a8a" />
            <stop offset="95%" stop-color="#ea3c53" />
         </linearGradient>
       </defs>
           <rect id="piece"  height="350" width="450" fill="url('#myGradient')"/>
         </svg>  
     </div>
     <div class="blob2">
        <svg height="250" width="450">
            <defs>
         <linearGradient id="myGradient1" gradientTransform="rotate(90)">
            <stop offset="5%"  stop-color="#ff8a8a" />
            <stop offset="95%" stop-color="#ea3c53" />
         </linearGradient>
       </defs>
           <rect id="piece"  height="250" width="450" fill="url('#myGradient1')"/>
         </svg>  
     </div>
     <!--side rectangles : ends-->

     <div class="center container">
       
      <div class="row ">

        <div class="col-sm-6">
          
          <div class="contain" style="height: 483px;
          overflow-y: scroll;">
            <div class="logo">
              <img src="assets/image/Logo.png" width="140px"  height="115px" />
            </div>
            
            <div class="container">
                <br>
              <div class="text" style="color:#d3b284;">
                Sign Up
              </div>
              <form class="container">
                <div class="data">
                    <label>Name</label>
                    <input type="text"  autofocus required>
                 </div>
                <div class="data">
                   <label>Email or Phone</label>
                   <input type="email" required>
                </div>
                <div class="data">
                    <label>Date of Birth</label>
                    <input type="date" required>
                 </div>
                 <div class="data">
                    <label>Designation</label>
                    <input type="text" required>
                 </div>
                 <div class="data">
                    <label>Blood Group Type</label>
                    <input type="text" required>
                 </div>
               
                 <div class="data">
                    <label>Phone number</label>
                    <input type="tel" required>
                 </div>
                 <div class="data">
                    <label>Address</label><br>
                   <textarea rows="3" cols="45"></textarea>
                 </div>
                <br>
                <div class="data">
                   <label>Password</label>
                   <input type="password"  required>
                </div>
                <div class="data">
                    <label>Confirm Password</label>
                    <input type="password"  required>
                 </div>
                <div class="btn">
                   
                     <button type="submit">Register</button>
                   
                </div> 
                 <div class="signup-link">
                   Already a member? <a routerLink="/login">Login now</a>
                </div>
             </form>
            </div>
           
         </div>
        </div>
        <div class="col-sm-6">
          <div class="container image">
            <img src="assets/image/sideimg.jpg" width="100%" height="482"  alt="loginimage"/>
          </div>
        </div>
      </div>
       
    </div>
</div>
<router-outlet></router-outlet>