<div class="auth">
   <!--side rectangles-->
   <div class="blob1">
      <svg height="350" width="450">
         <defs>
            <linearGradient id="myGradient" gradientTransform="rotate(90)">
               <stop offset="57%" stop-color="#ff8a8a" />
               <stop offset="95%" stop-color="#ea3c53" />
            </linearGradient>
         </defs>
         <rect id="piece" height="350" width="450" fill="url('#myGradient')" />
      </svg>
   </div>
   <div class="blob2">
      <svg height="250" width="450">
         <defs>
            <linearGradient id="myGradient1" gradientTransform="rotate(90)">
               <stop offset="5%" stop-color="#ff8a8a" />
               <stop offset="95%" stop-color="#ea3c53" />
            </linearGradient>
         </defs>
         <rect id="piece" height="250" width="450" fill="url('#myGradient1')" />
      </svg>
   </div>
   <!--side rectangles : ends-->

   <div class="register-form">
      <div class="row h-100">
         <div class="col-md-6 h-100">
            <div class="form-container h-100">
               <div class="logo d-flex justify-content-between px-5 align-items-center w-100">
                  <img src="assets/image/Logo.png " />
                  <div class="page-title">
                     <h3 class="text-center">Registration</h3>
                  </div>
               </div>
               <form class="px-5 mt-4" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">                  
                  <div class="mb-3">
                     <label for="" class="form-label">Email</label>
                     <input [class.is-invalid]="email?.invalid && email?.touched" formControlName="email"
                        class="form-control" type="email">
                     <div *ngIf="email?.invalid && email?.touched">
                        <small *ngIf="email?.errors?.['required']" class="text-danger size">Email is Required</small>
                        <small class="text-danger size" *ngIf="email?.errors?.['invalidEmail']">Enter a Valid Email
                           Address</small>
                     </div>
                  </div>
                  <div class="mb-3">
                     <label for="" class="form-label">Password</label>
                     <input [class.is-invalid]="password?.invalid && password?.touched" formControlName="password"
                        class="form-control" type="password" id="password" name="password">
                     <div *ngIf="password?.invalid && password?.touched">
                        <small *ngIf="password?.errors?.['required']" class="text-danger size">Password is
                           Required</small>
                        <small *ngIf="password?.errors?.['invalidPassword']" class="text-danger size">Should be min of 8
                           characters, at least 1 uppercase,1 lowercase & 1 number</small>
                     </div>
                  </div>
                  <div class="mb-3">
                     <label for="" class="form-label">Confirm Password</label>
                     <input [class.is-invalid]="registrationForm?.errors?.['mismatch']"
                        formControlName="confirmpassword" class="form-control" type="password" name="cpassword">
                     <small *ngIf="registrationForm.errors?.['mismatch']" class="text-danger size">Password
                        Mismatch</small>
                  </div>                  
                  <div class="button">
                     <button type="submit">Sign Up</button>
                  </div>
               </form>
               <!-- sign up link -->
               <div class="sign-up text-center py-3">
                  <p>Already have an account? <a routerLink="/login">Sign In</a></p>
               </div>

            </div>
         </div>
         <div class="col-md-6 banner-container">
            <img src="assets/image/sideimg.jpg" width="100%" alt="loginimage" />
         </div>
      </div>
   </div>

</div>