// .sidebar {
//     margin: 0;
//     padding: 0;
//     font-family: cursive;
//     background-color: #f1f1f1;
//     height: 100%;
//     box-shadow: 2px 2px gainsboro;
//     overflow: auto;
//   }
  
//   .sidebar a {
//     display: block;
//     color: black;
//     padding: 19px;
//     text-decoration: none;
//   }
   
//   .sidebar a.active {
//     background-color: rgb(119, 119, 119);
//     color: white;
//     cursor: pointer;
//   }
  
//   .sidebar a:hover:not(.active) {
//     background-color: rgb(155, 155, 155);
//     color: white;
//     cursor: pointer;
//   }
  
//   div.content {
//     margin-left: 200px;
//     padding: 1px 16px;
//     height: 1000px;
//   }
$primary-color:#E85E4F;
.w-0{
    width: 0 !important ;
    transition: all .3s;
}
.sidebar{
  background-color: #fff;
  height:calc(100% - 60px);
  transition: all .3s;
  overflow-y: auto;
  overflow: hidden;
  position: fixed;
  z-index: 99;
  font-weight: 500;
  font-size: 16px;
  @media screen and (max-width: 992px){
    width: 100%;
  }
  ul{
      list-style: none;
      float: left;
      padding: 0;
      margin-top: 10px;
      li{
          margin: 10px;
          padding: 5px;
          font-weight: 600;          
          padding: 10px;
          border-radius: 5px;
          transition: all .3s;
          a.active{
              color: $primary-color;
          }
          &:hover{
            background-color: #ff9f9f;
                      
          }
          a{
              transition: all .3s;
              color: black;              
          }
      }
      .item-header{
          font-size: 12px;
          color: #878787;
          font-weight: 600;
      }
  }
}