<header class="container-fluid nav-container">
    <div class="left-section" style="margin: 10px;">
        <div class="row">
        <div class="col-4">
            <img src="assets/image/logoup.png" class="img-rounded" alt="logo" width="60px" height="60px">
        </div>
        <div class="col-8" style="margin-top: 10px;">
            <h3><span style="color: #E85E4F; font-weight: bold;">Blood</span> Way</h3>
        </div>
        </div>
    </div>
    <div class="right-section" style="margin: 15px;">
        

        <div class=" btn-group" style="margin: 30px;">
            <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              User Name.
            </button>
            <ul class="dropdown-menu">
              <a><li class="dropdown-item">My Account</li></a>
              <a><li class="dropdown-item">Settings</li></a>
              <a><li class="dropdown-item" (click)="logout()">Log Out</li></a>
            </ul>
          </div>

          <img src="https://www.nicepng.com/png/detail/128-1280406_view-user-icon-png-user-circle-icon-png.png" class="rounded-circle" alt="logo" width="50px" height="50px">
    </div>
</header>