.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    font-family: cursive;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    box-shadow: 2px 2px gainsboro;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 19px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: rgb(119, 119, 119);
    color: white;
    cursor: pointer;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: rgb(155, 155, 155);
    color: white;
    cursor: pointer;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }