<app-page-title [title]="'Dasboard'" [breadcrumb]="['Dasboard']"></app-page-title>
<div class="px-3">
  <div class="row">
    <div class="col-md-3 mb-4 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <i class="material-icons me-2">badge</i> Willing Donors</h5>
          <div class="progress blue">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value">{{totalWillingDonors}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <i class="material-icons me-2">volunteer_activism</i> Recent Donations</h5>
          <div class="progress blue">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value">{{totalDonations}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <i class="material-icons me-2">add_to_photos</i> Blood Requests</h5>
          <div class="progress blue">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value">{{totalBloodRequests}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <i class="material-icons me-2">bloodtype</i> BloodGroups</h5>
          <div class="progress blue">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value">{{totalBloodGroups}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>