<app-page-title [title]="'Employees'" [breadcrumb]="['Employees']"></app-page-title>


<div class="content mt-3 px-0 px-md-3">
    <div class="rounded bg-white p-4">
        <ng-container *ngIf="allUsers.length!=0">
            <table datatable class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>BloodGroup</th>
                        <th>Donation Interested</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of allUsers; index as j">
                        <td>{{i?.name}}</td>
                        <td>{{i?.email}}</td>
                        <td>{{i?.contact}}</td>
                        <td>{{i?.bloodGroup.bloodType}}</td>
                        <td *ngIf="i?.isInterested"><span class="badge rounded-pill bg-success">Yes</span></td>
                        <td *ngIf="!i?.isInterested"><span class="badge rounded-pill bg-danger">No</span></td>
                        <td *ngIf="i?.distance">{{i.distance | number: '1.0-0'}}</td>
                        <td><a class="btn btn-primary" href="{{'https://google.com/maps/search/'+i?.lat+'+'+i?.lng}}" target="_blank">See On Map</a></td>
                        <!-- <ng-container *ngIf="!i.distance">
                            <td>Not Available</td>
                        </ng-container> -->
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>
</div>